


.co{
    
    /*max-width: 630px;
    
    height: 440px;
    
   
    overflow: hidden;
    margin-top: 150px;
    */
    background: #fff;
    opacity: 0.9;
    width: 100%;
    
    border-radius: 10px;
    
    box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
    margin-top: 60px;
    margin-bottom: 50px; 
  
    padding: 60px 20px 50px;

  
    
}
.head{
    font-family: serif;
    text-align: center;
    margin-bottom: 40px;
   color: #fff;
}

.input_field{
    /*width: 100%;
    display: grid;
    grid-auto-columns:3fr;
    

    grid-auto-columns: 250px 200px 390px;
    grid-gap: 35px 45px;
    margin-bottom: 2px;
    margin-right: 450px;
    margin-bottom: 300px;*/
    outline: none;
    width: 100%;
   height: 45px;
   border-radius: 15px;
   border:none;
   padding: 20px;
   box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
   /* border: 2px solid #6c63ff; */
   
   
   
}
.inpt{
    margin: 0px;
    height: 50px;
    width: 300px;
    
}
.txt{
    color: black;
}
.edge-design{
    width: 90px;
    height: 90px;
    background-color: #5d3fd3;
    border-radius:0px 0px 100px;
    position: absolute;
    left: 0px;
    
}
.edge-des {
    width: 50px;
        height: 60px;
        background-color: #5d3fd3;
        border-radius: 0px 0px 100px 0px;
        position: absolute;
        top:70px;
}
.edge-de{
    position: absolute;
    top: 0px;
    left: 0px;
}

.app-name {
    
    margin: 5px;
    
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Smokum', cursive; */
    font-family: 'Fredoka One', cursive;

}
.google-but {
    width: 100%;
    border: 0px solid;
    border-radius: 50px;
    font-family: 'Fredoka One', cursive;

    
}
.img1{
    width: 100%;
    color:red;
    border: none; 
    height:350px; 
    border-radius: 100%;
    background-color: #dfdfff;
}
.input_field:focus{
    border: 1px solid;
    border-color: #6f6df4;
}
 /* @media screen and (min-width: 601px) {
    .co {
        padding-left: 150px;
        padding-right: 150px;
        padding-top: 75px;
        padding-bottom:75px;
        
    }
        .im {
            margin: 450px;
        }
}
@media screen and (max-width: 600px) {
    .co {
            padding-left: 25px;
            padding-right: 25px;
        }
        .im {
            margin: 450px;
        }
}  */
.container1{
    width: 100%;
    height: 20vh;
}

svg{
    font-size: 65px;
    padding-top:1%;
    
}
.copy {
    fill: none;
    stroke: black;
    stroke-width: 2px;
    stroke-dasharray: 8% 30%;
    stroke-dashoffset: 0%;
    animation: textanimation 6s linear infinite;
}
@keyframes textanimation  {
    100%{
        stroke-dashoffset:-35%;
    }

}
.copy1{
    stroke: #673ab7;
    animation-delay: -3s;
}
.copy2{
    stroke: #2f2e41;
    animation-delay: -4s;
}
/* .copy3{
    stroke: #ff5722;
    animation-delay: -3s;
}
.copy4{
    stroke: #f44336;
    animation-delay: -4s;
}
.copy5{
    stroke: #ffc107;
    animation-delay: -5s;
} */










